body {
	font-family:sans-serif;
}

h1 {
	color:#24b8ae;
	font-size:40px;
	font-weight: bolder;
}

h2 {
	color:black;
	font-size:20px;
	font-weight:bolder;
}


h3 {
	color:#24b8ae;
	font-size:30px;
	font-weight: bold;
}


h4 {
	color:#24b8ae;
	font-size:20px;
	font-weight: bold;
}


h5 {
	color:black;
	font-size:16px;
	font-weight: lighter;
}


p{
	color:black;
	font-weight:lighter;
	font-size:13px;
}

#banner { text-align: left;
  background-image: url("https://source.unsplash.com/a_L_fVDQQXI/1600x900")
  height: 600px;
  width: 100%;
  background-colour: #24b8ae;
  background-position: center;	
  padding-top: 50px;
  padding-left: 30px;
}
	
#banner h1 {
	font-variant: bold;
	color:white;
	font-size:40px;
	font-weight:500px;
}

#banner h2 {
	color:white;
	font-size:20px;
	font-weight: lighter;
}

#social a {
  text-align:center;
  color:#24b8ae;
  font-size: 50px;
}
#social a:hover {
  color: white;
  image-
}
