body {
	font-family:sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav{
	background-color: black;
	color: white;
	list-style:none;
	text-align:center;
	font-size: 17px;
	padding: 20px 0 20px 0;
}

.nav > li > a {
	text-decoration: none;
	color: white;
	
.nav > li > a:hover {
	color: #24b8ae;
	}

#banner {
  background-image: url("https://source.unsplash.com/a_L_fVDQQXI/1600x900")
  max-height: 100%;
  max-width: 100%;
  background-colour: #24b8ae;
  background-position: center;
  text-align: left;
  padding-top: 50px;
  padding-left: 30px;
}
	
#banner h1 {
	font-variant: bold;
	color:#24b8ae;
	font-size:40px;
}

#banner h2 {
	font-variant: lighter;
	color:black;
	font-size:20px;
}

h1 {
	color:#24b8ae;
	font-size:40px;
	font-weight: bolder;
}

p{
	color:black;
	font-weight:lighter;
	font-size:13px;
}
	
	
#social a {
  text-align:center;
  color:#24b8ae;
  font-size: 50px;
}
#social a:hover {
  color: white;
  image-
}
